- if @badge.errors.messages.present?
  .alert.alert-danger.alert-block
    - errors_plural = Russian.p @badge.errors.count, *t('forms.errors.errors_separate_you')
    %h4= t 'forms.errors.almost_complete', :count => @badge.errors.count, :errors => errors_plural
    %br/
    %ol
      - @badge.errors.full_messages.each do |message|
        %li= message

.well
  = form_for [@badge_set, @badge], :html => {:class => 'form form-horizontal'} do |f|
    .control-group
      = f.label :name, t('.name'), :class => 'control-label'
      .controls
        = f.text_field :name

    .control-group
      = f.label :surname, t('.surname'), :class => 'control-label'
      .controls
        = f.text_field :surname

    .control-group
      = f.label :company, t('.company'), :class => 'control-label'
      .controls
        = f.text_field :company

    .control-group
      = f.label :profession, t('.profession'), :class => 'control-label'
      .controls
        = f.text_field :profession

    %hr/
    .control-group
      .controls
        = f.submit t('forms.labels.save'), :class => "btn btn-primary"
        = button_tag t('forms.labels.cancel'), :type => 'reset', :class => 'btn'

