- if @badge_set.errors.messages.present?
  .alert.alert-danger.alert-block
    - errors_plural = Russian.p 100500, *t('forms.errors.errors_separate_you')
    %h4= t 'forms.errors.almost_complete', count: 5, errors: " бывает и так"
    %br/
    %ol
      - @badge_set.errors.messages.each do |attr, messages|
        - attr_name = t("activerecord.attributes.badge_set.#{attr}")
        - messages.each do |message|
          %li= "#{attr_name} #{message}"

.well
  = form_for @badge_set, :html => {:multipart => true, :class => 'form form-horizontal'} do |f|
    .control-group.error
      = f.label :name, t('activerecord.attributes.badge_set.name'), :class => 'control-label'
      .controls
        = f.text_field :name
    .control-group
      = f.label :image, t('activerecord.attributes.badge_set.image'), :class => 'control-label'
      .controls
        = f.file_field :image
      - unless @badge_set.new_record?
        = image_tag @badge_set.image.badge
    .control-group
      = f.label :source, t('activerecord.attributes.badge_set.source'), :class => 'control-label'
      .controls
        = f.file_field :source

    %hr/
    .control-group
      .controls
        = f.submit t('forms.labels.save'), :class => "btn btn-primary"
        = button_tag t('forms.labels.cancel'), :type => 'reset', :class => 'btn'
