- if notice.present?
  .alert.alert-success{data: {autoclose: true}}
    = notice

.row
  = link_to t('views.badge_sets.links.add_set'), new_badge_set_path, :class => 'btn btn-large btn-primary pull-right'
%br/

%table.table.table-hover
  %thead
    %tr
      %th= t('activerecord.attributes.badge_set.image')
      %th= t('activerecord.attributes.badge_set.name')
      %th &nbsp;

  %tbody
    - @badge_sets.each do |badge_set|
      %tr
        %td= image_tag badge_set.image.thumb
        %td= badge_set.name
        %td
          .btn-group
            %button.btn{data: {click: badge_set_badges_path(badge_set)}}= t('forms.labels.see')
            %button.btn.dropdown-toggle{'data-toggle' => "dropdown"}
              %span.caret
            
            %ul.dropdown-menu
              %li= link_to t('forms.labels.print'), print_badge_set_url(badge_set)
              %li= link_to t('forms.labels.edit'), edit_badge_set_url(badge_set)
              %li= link_to t('forms.labels.delete'), badge_set, :method => :delete, :confirm => t('forms.alerts.are_you_sure')

= paginate @badge_sets
